<!--Video-->
<div class="uk-section animate__animated animate__fadeIn animate__delay-2s animate__fast">
  <div class="uk-container uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        video
      </div>
    </div>
  </div>
</div>

<!--About 1-->
<div class="uk-section animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h2 class="font-black uk-text-center">{% t about.description_1.title %}</h2>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-3-4@m">
        <div class="uk-column-1-2@m">
          <p>{% t about.description_1.par_1 %}</p>
          <p>{% t about.description_1.par_2 %}</p>
          <a class="underline" href="" target="_blank">{% t about.description_1.par_3 %} ICONO</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--About 2-->
<div class="uk-section bg-black-soft animate__animated animate__fadeIn">
  <div class="uk-container uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="font-white">{% t about.description_2.title %}</h2>
        <p class="font-white">{% t about.description_2.par %}</p>
      </div>
    </div>
  </div>
</div>

<!--How we work-->
<div class="uk-section animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div style="margin-bottom:60px">
      <div class="uk-width-1-2@m">
        <h2 class="font-black">{% t about.how_we_work.title %}</h2>
        <p>{% t about.how_we_work.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-3@m">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-auto uk-text-center">
            <img data-src="../assets/images/icon-action-1-color.svg" uk-img>
          </div>
          <div class="uk-width-expand">
            <h4>{% t about.how_we_work.action_1.title %}</h4>
            <p>{% t about.how_we_work.action_1.description %}</p>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-auto uk-text-center">
            <img data-src="../assets/images/icon-action-2-color.svg" uk-img>
          </div>
          <div class="uk-width-expand">
            <h4>{% t about.how_we_work.action_2.title %}</h4>
            <p>{% t about.how_we_work.action_2.description %}</p>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-auto uk-text-center">
            <img data-src="../assets/images/icon-action-3-color.svg" uk-img>
          </div>
          <div class="uk-width-expand">
            <h4>{% t about.how_we_work.action_3.title %}</h4>
            <p>{% t about.how_we_work.action_3.description %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
