<footer>
    <div class="uk-container">
          <div class="uk-flex uk-flex-center" uk-grid>
            <div class="uk-width-1-2@m">
              <ul class="uk-list">
                <li><p class="font-footer font-white">{% t footer.suscription.title %}</p></li>
                <li><a class="uk-button button-line-white">{% t footer.suscription.button %}</a></li>
              </ul>
              <div class="uk-flex uk-flex-middle" style="margin-top:30px" uk-grid>
                <div><p class="font-footer font-white">{% t footer.social_media %}</p></div>
                <div style="padding-left: 10px;">
                  <a class="footer-icon" href="https://twitter.com/" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13 0C5.82021 0 0 5.82021 0 13C0 20.1798 5.82021 26 13 26C20.1798 26 26 20.1798 26 13C26 5.82021 20.1798 0 13 0ZM18.288 10.6492C18.2934 10.7602 18.2948 10.8713 18.2948 10.9796C18.2948 14.365 15.7205 18.2664 11.0107 18.2664C9.61904 18.2687 8.25631 17.869 7.08635 17.1153C7.28542 17.1397 7.4899 17.1492 7.69708 17.1492C8.89687 17.1492 10.0005 16.7416 10.8767 16.0536C10.3427 16.0432 9.82539 15.8664 9.39671 15.5479C8.96804 15.2294 8.6494 14.7851 8.48521 14.277C8.86865 14.3499 9.26365 14.3346 9.64031 14.2323C9.06079 14.1151 8.53964 13.8011 8.16523 13.3435C7.79082 12.8859 7.58619 12.3129 7.58604 11.7217V11.6905C7.93135 11.8815 8.32677 11.9979 8.74656 12.0115C8.20327 11.6498 7.81867 11.0942 7.67141 10.4584C7.52416 9.82258 7.62538 9.15451 7.95437 8.59083C8.59754 9.38167 9.39962 10.0286 10.3087 10.4898C11.2177 10.951 12.2135 11.2161 13.2316 11.268C13.1021 10.7186 13.1578 10.1419 13.39 9.62745C13.6222 9.113 14.0178 8.68967 14.5154 8.42327C15.013 8.15687 15.5847 8.06233 16.1415 8.15435C16.6984 8.24636 17.2092 8.51977 17.5947 8.93208C18.1677 8.81871 18.7173 8.60851 19.2197 8.31052C19.0287 8.90383 18.6288 9.40763 18.0944 9.72833C18.602 9.6672 19.0976 9.53073 19.565 9.32344C19.2217 9.83788 18.7892 10.2868 18.288 10.6492V10.6492Z" fill="white"/>
                    </svg>
                  </a>
                </div>
                <div style="padding-left: 10px;">
                  <a class="footer-icon" href="https://www.instagram.com/" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.0625 13C17.0625 14.0774 16.6345 15.1108 15.8726 15.8726C15.1108 16.6345 14.0774 17.0625 13 17.0625C11.9226 17.0625 10.8892 16.6345 10.1274 15.8726C9.36551 15.1108 8.9375 14.0774 8.9375 13C8.9375 12.7684 8.96187 12.5423 9.00385 12.3229H7.58333V17.7355C7.58333 18.112 7.88802 18.4167 8.26448 18.4167H17.7369C17.9173 18.4163 18.0902 18.3444 18.2176 18.2167C18.3451 18.089 18.4167 17.9159 18.4167 17.7355V12.3229H16.9961C17.0381 12.5423 17.0625 12.7684 17.0625 13V13ZM13 15.7083C13.3558 15.7082 13.708 15.6381 14.0366 15.5019C14.3653 15.3656 14.6639 15.166 14.9154 14.9144C15.1669 14.6628 15.3663 14.3641 15.5024 14.0354C15.6384 13.7067 15.7084 13.3544 15.7083 12.9986C15.7082 12.6429 15.6381 12.2906 15.5019 11.962C15.3656 11.6334 15.166 11.3348 14.9144 11.0833C14.6628 10.8318 14.3641 10.6323 14.0354 10.4963C13.7067 10.3602 13.3544 10.2902 12.9986 10.2903C12.2802 10.2905 11.5912 10.5761 11.0833 11.0842C10.5754 11.5924 10.2901 12.2815 10.2903 13C10.2905 13.7185 10.5761 14.4075 11.0842 14.9154C11.5924 15.4233 12.2815 15.7085 13 15.7083V15.7083ZM16.25 10.1562H17.8736C17.9815 10.1563 18.085 10.1135 18.1614 10.0373C18.2378 9.9612 18.2809 9.85787 18.2812 9.75V8.12635C18.2812 8.01825 18.2383 7.91457 18.1619 7.83813C18.0854 7.76169 17.9817 7.71875 17.8736 7.71875H16.25C16.1419 7.71875 16.0382 7.76169 15.9618 7.83813C15.8853 7.91457 15.8424 8.01825 15.8424 8.12635V9.75C15.8438 9.97344 16.0266 10.1562 16.25 10.1562V10.1562ZM13 0C9.55219 0 6.24558 1.36964 3.80761 3.80761C1.36964 6.24558 0 9.55219 0 13C0 16.4478 1.36964 19.7544 3.80761 22.1924C6.24558 24.6304 9.55219 26 13 26C14.7072 26 16.3977 25.6637 17.9749 25.0104C19.5521 24.3571 20.9852 23.3995 22.1924 22.1924C23.3995 20.9852 24.3571 19.5521 25.0104 17.9749C25.6637 16.3977 26 14.7072 26 13C26 11.2928 25.6637 9.60235 25.0104 8.02512C24.3571 6.44788 23.3995 5.01477 22.1924 3.80761C20.9852 2.60045 19.5521 1.64288 17.9749 0.989566C16.3977 0.336255 14.7072 0 13 0V0ZM19.7708 18.2664C19.7708 19.0937 19.0937 19.7708 18.2664 19.7708H7.73365C6.90625 19.7708 6.22917 19.0937 6.22917 18.2664V7.73365C6.22917 6.90625 6.90625 6.22917 7.73365 6.22917H18.2664C19.0937 6.22917 19.7708 6.90625 19.7708 7.73365V18.2664V18.2664Z" fill="white"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="uk-width-1-1 uk-hidden@m">
              <hr>
            </div>
            <div class="uk-width-1-3@m">
              <ul class="uk-list">
                <li><p class="font-footer font-white">{% t footer.giescr %}</p></li>
                <li><img data-src="../assets/images/logo-giescr.png" class="logo-giescr" uk-img></li>
              </ul>
            </div>
            <div class="uk-width-1-6@m">
              <ul class="uk-list">
                <li><p class="font-footer font-white">{% t footer.osf %}</p></li>
                <li><img data-src="../assets/images/logo-osf.png" class="logo-osf" uk-img></li>
              </ul>
            </div>
          </div>
    </div>
</footer>
