<header uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 600">
    <nav class="uk-navbar-container animate__animated animate__fadeIn animate__delay-1s">
      <div class="uk-container nav-width">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-list">
              <li>
                <a href="{{ site.baseurl }}/">
                  <svg width="367" height="75" viewBox="0 0 367 75" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo-menu">
                    <path d="M17.5202 16.886L11.0986 13.1864V34.4495C11.0984 35.3714 11.3413 36.2771 11.8027 37.0753C12.2641 37.8734 12.9277 38.5359 13.7267 38.9958L20.1365 42.6857V21.4108C20.1365 20.4932 19.8947 19.5918 19.4354 18.7975C18.976 18.0031 18.3155 17.3438 17.5202 16.886V16.886Z" fill="#EB1E80"/>
                    <path d="M21.0402 61.4165L21.0109 68.8255L2.61833 58.1353C1.82394 57.6739 1.16525 57.0113 0.708654 56.2141C0.25206 55.417 0.0136927 54.5135 0.017626 53.5949L0.0488953 46.1898L18.4415 56.878C19.2353 57.3393 19.8935 58.0018 20.3498 58.7985C20.806 59.5953 21.0442 60.4983 21.0402 61.4165V61.4165Z" fill="#EB1E80"/>
                    <path d="M48.9459 58.1295L55.3538 61.8213V40.5601C55.3545 39.6378 55.112 38.7317 54.6505 37.9331C54.1891 37.1345 53.5252 36.4718 52.7257 36.0119L46.3159 32.322V53.5812C46.316 54.5036 46.5591 55.4096 47.0208 56.2081C47.4826 57.0066 48.1465 57.6693 48.9459 58.1295V58.1295Z" fill="#EB1E80"/>
                    <path d="M45.2874 13.5677V6.07651L63.8364 16.7432C64.6356 17.2026 65.2989 17.8654 65.7588 18.6643C66.2187 19.4632 66.4588 20.3697 66.4546 21.2915L66.4234 28.8179L47.89 18.0866C47.0983 17.6274 46.4411 16.9683 45.9843 16.1752C45.5276 15.3821 45.2872 14.4829 45.2874 13.5677V13.5677Z" fill="#EB1E80"/>
                    <path d="M7.46185 40.7322L1.04419 44.4221L19.425 55.1084C20.2207 55.5708 21.1243 55.8154 22.0447 55.8175C22.965 55.8195 23.8697 55.579 24.6675 55.1201L31.0812 51.4302L12.7004 40.744C11.9051 40.2822 11.0023 40.038 10.0827 40.036C9.1631 40.0339 8.25917 40.274 7.46185 40.7322V40.7322Z" fill="#29C226"/>
                    <path d="M47.9136 59.9421L54.3253 63.6437L35.9172 74.2968C35.1204 74.7575 34.2163 75 33.2959 75C32.3756 75 31.4715 74.7575 30.6747 74.2968L24.2668 70.5952L42.675 59.9441C43.4711 59.4836 44.3744 59.241 45.294 59.2407C46.2137 59.2403 47.1172 59.4823 47.9136 59.9421Z" fill="#29C226"/>
                    <path d="M59.0239 34.2363L65.51 30.5504L46.8965 19.8328C46.0972 19.3719 45.1899 19.1312 44.2672 19.1353C43.3445 19.1395 42.4395 19.3882 41.6443 19.8562L35.3694 23.5461L53.8323 34.2167C54.6207 34.6727 55.5147 34.9144 56.4255 34.9178C57.3363 34.9213 58.2321 34.6863 59.0239 34.2363Z" fill="#29C226"/>
                    <path d="M18.5471 15.1046L12.0942 11.3894L30.7019 0.69721C31.4946 0.240428 32.3935 0 33.3084 0C34.2234 0 35.1223 0.240428 35.915 0.69721L42.3404 4.41248L23.7641 15.1046C22.971 15.5625 22.0714 15.8036 21.1556 15.8036C20.2398 15.8036 19.3402 15.5625 18.5471 15.1046Z" fill="#29C226"/>
                    <path d="M6.41961 38.986L7.25258e-07 42.6857V21.4108C-0.000483331 20.4924 0.241345 19.59 0.701054 18.7949C1.16076 17.9998 1.82211 17.34 2.61832 16.8821L9.03793 13.1864V34.4593C9.03747 35.3773 8.79522 36.279 8.33559 37.0736C7.87596 37.8683 7.21513 38.5279 6.41961 38.986Z" fill="#6921DE"/>
                    <path d="M63.8266 58.2038L57.407 61.9034V40.6286C57.4065 39.7101 57.6483 38.8078 58.108 38.0127C58.5677 37.2175 59.2291 36.5577 60.0253 36.0999L66.4449 32.4041V53.677C66.4445 54.595 66.2022 55.4967 65.7426 56.2914C65.2829 57.0861 64.6221 57.7456 63.8266 58.2038Z" fill="#6921DE"/>
                    <path d="M23.2144 61.4497L23.23 68.847L41.6323 58.1998C42.4306 57.7378 43.0931 57.0736 43.5531 56.2741C44.0131 55.4746 44.2543 54.5681 44.2525 53.6457L44.235 46.2523L25.8346 56.8995C25.0363 57.3606 24.3738 58.024 23.9137 58.8229C23.4537 59.6218 23.2125 60.5279 23.2144 61.4497V61.4497Z" fill="#6921DE"/>
                    <path d="M43.244 13.5697L43.2283 6.16061L25.7372 16.3287C24.9428 16.7906 24.2838 17.4532 23.8263 18.2501C23.3688 19.0471 23.1289 19.9503 23.1306 20.8692L23.1482 28.2763L40.6374 18.1082C41.4318 17.6468 42.0908 16.9845 42.5483 16.1879C43.0059 15.3913 43.2458 14.4883 43.244 13.5697V13.5697Z" fill="#6921DE"/>
                    <path d="M79.7845 50.7845V56.7508C79.7845 57.2087 79.856 57.6427 79.9991 58.0528C80.1422 58.4535 80.3472 58.8016 80.6143 59.0973C80.8909 59.393 81.22 59.6267 81.6015 59.7984C81.9926 59.9701 82.4266 60.0559 82.9035 60.0559C83.4091 60.0559 83.8574 59.9701 84.2485 59.7984C84.6396 59.6267 84.9639 59.393 85.2214 59.0973C85.4885 58.7921 85.6888 58.4392 85.8223 58.0385C85.9654 57.6379 86.0369 57.2087 86.0369 56.7508V50.7845C86.0369 50.6987 86.0656 50.6271 86.1228 50.5699C86.1896 50.5031 86.2706 50.4698 86.366 50.4698H86.9097C87.0051 50.4698 87.0909 50.4984 87.1672 50.5556C87.2436 50.6128 87.2817 50.6891 87.2817 50.7845V56.8939C87.2817 57.5521 87.1672 58.1482 86.9383 58.6824C86.7094 59.2165 86.3946 59.6744 85.994 60.0559C85.5934 60.4375 85.126 60.7332 84.5919 60.943C84.0672 61.1528 83.5045 61.2578 82.9035 61.2578C82.3026 61.2578 81.7351 61.1433 81.2009 60.9144C80.6763 60.6855 80.2137 60.3755 79.8131 59.9844C79.4125 59.5838 79.0977 59.1212 78.8688 58.5965C78.6399 58.0624 78.5254 57.4948 78.5254 56.8939V50.7845C78.5254 50.7082 78.554 50.6367 78.6112 50.5699C78.6685 50.5031 78.74 50.4698 78.8259 50.4698H79.4554C79.5317 50.4698 79.6032 50.5031 79.67 50.5699C79.7463 50.6271 79.7845 50.6987 79.7845 50.7845Z" fill="#263238"/>
                    <path d="M102.433 61.0861H101.76C101.656 61.0861 101.565 61.0432 101.489 60.9573L94.9643 52.387V60.7713C94.9643 60.9812 94.8546 61.0861 94.6352 61.0861H94.0486C93.8387 61.0861 93.7338 60.9812 93.7338 60.7713V50.7988C93.7338 50.7035 93.7624 50.6271 93.8197 50.5699C93.8769 50.5031 93.9532 50.4698 94.0486 50.4698H94.8355C94.95 50.4698 95.0406 50.5175 95.1073 50.6128L101.532 58.9685V50.7416C101.56 50.5604 101.665 50.4698 101.846 50.4698H102.433C102.519 50.4698 102.595 50.4984 102.662 50.5556C102.738 50.6128 102.776 50.6891 102.776 50.7845V60.7713C102.776 60.9812 102.662 61.0861 102.433 61.0861Z" fill="#263238"/>
                    <path d="M118.121 60.7713V50.8131C118.121 50.5842 118.231 50.4698 118.45 50.4698H121.999C122.466 50.4698 122.9 50.5604 123.301 50.7416C123.711 50.9133 124.064 51.1518 124.359 51.457C124.655 51.7527 124.884 52.1056 125.046 52.5158C125.218 52.9164 125.304 53.3408 125.304 53.7891C125.304 54.2279 125.218 54.6476 125.046 55.0482C124.884 55.4488 124.655 55.8018 124.359 56.107C124.073 56.4027 123.73 56.6412 123.329 56.8224C122.929 56.9941 122.499 57.0799 122.041 57.0799H119.352V60.7713C119.352 60.9812 119.247 61.0861 119.037 61.0861H118.436C118.226 61.0861 118.121 60.9812 118.121 60.7713ZM124.073 53.7748C124.073 53.4982 124.016 53.2359 123.901 52.9879C123.797 52.7304 123.649 52.5062 123.458 52.3155C123.277 52.1247 123.057 51.9721 122.8 51.8576C122.552 51.7431 122.285 51.6859 121.999 51.6859H119.352V55.8638H121.999C122.285 55.8638 122.552 55.8065 122.8 55.6921C123.048 55.5776 123.267 55.425 123.458 55.2342C123.649 55.0435 123.797 54.8241 123.901 54.5761C124.016 54.3185 124.073 54.0515 124.073 53.7748Z" fill="#263238"/>
                    <path d="M137.993 53.8321C137.993 53.5459 137.936 53.2741 137.822 53.0165C137.717 52.759 137.569 52.5348 137.378 52.3441C137.187 52.1438 136.963 51.9864 136.706 51.8719C136.448 51.7479 136.167 51.6859 135.861 51.6859H132.642V55.9782H135.876C136.181 55.9782 136.462 55.921 136.72 55.8065C136.977 55.6921 137.197 55.5395 137.378 55.3487C137.569 55.1484 137.717 54.9195 137.822 54.6619C137.936 54.3948 137.993 54.1182 137.993 53.8321ZM131.412 60.7713V50.8131C131.412 50.5842 131.517 50.4698 131.726 50.4698H135.861C136.329 50.4698 136.768 50.5604 137.178 50.7416C137.588 50.9133 137.941 51.1518 138.236 51.457C138.542 51.7622 138.78 52.1199 138.952 52.5301C139.133 52.9402 139.224 53.379 139.224 53.8464C139.224 54.5236 139.042 55.1341 138.68 55.6778C138.318 56.2215 137.845 56.6268 137.264 56.8939L139.152 60.7713C139.171 60.8476 139.181 60.8905 139.181 60.9001C139.181 61.0241 139.095 61.0861 138.923 61.0861H138.136C138.041 61.0861 137.965 61.0622 137.907 61.0145C137.86 60.9668 137.812 60.9001 137.764 60.8142L136.033 57.1801C136.004 57.1801 135.952 57.1848 135.876 57.1944C135.799 57.1944 135.714 57.1944 135.618 57.1944C135.532 57.1944 135.442 57.1944 135.346 57.1944C135.26 57.1944 135.194 57.1944 135.146 57.1944H132.642V60.7713C132.642 60.9812 132.537 61.0861 132.327 61.0861H131.726C131.517 61.0861 131.412 60.9812 131.412 60.7713Z" fill="#263238"/>
                    <path d="M150.239 50.3267C150.993 50.3267 151.699 50.4698 152.357 50.7559C153.024 51.0421 153.606 51.4331 154.102 51.9291C154.598 52.4156 154.989 52.9927 155.276 53.6604C155.562 54.3281 155.705 55.0435 155.705 55.8065C155.705 56.5601 155.562 57.2659 155.276 57.9241C154.989 58.5822 154.598 59.1593 154.102 59.6553C153.606 60.1418 153.024 60.5281 152.357 60.8142C151.699 61.1004 150.988 61.2435 150.225 61.2435C149.471 61.2435 148.761 61.1004 148.093 60.8142C147.435 60.5281 146.858 60.1418 146.362 59.6553C145.875 59.1593 145.489 58.5822 145.203 57.9241C144.917 57.2564 144.774 56.5458 144.774 55.7922C144.774 55.0387 144.917 54.3328 145.203 53.6747C145.489 53.007 145.88 52.4251 146.376 51.9291C146.872 51.4331 147.449 51.0421 148.107 50.7559C148.775 50.4698 149.486 50.3267 150.239 50.3267ZM146.018 55.7779C146.018 56.3598 146.128 56.9082 146.347 57.4233C146.567 57.9384 146.867 58.3915 147.249 58.7825C147.63 59.1641 148.079 59.4645 148.594 59.6839C149.109 59.9033 149.657 60.013 150.239 60.013C150.821 60.013 151.365 59.9033 151.87 59.6839C152.385 59.4645 152.834 59.1641 153.215 58.7825C153.597 58.3915 153.897 57.9384 154.117 57.4233C154.336 56.9082 154.446 56.3598 154.446 55.7779C154.446 55.1961 154.336 54.6524 154.117 54.1468C153.897 53.6318 153.597 53.1835 153.215 52.8019C152.834 52.4204 152.385 52.1199 151.87 51.9005C151.365 51.6811 150.821 51.5715 150.239 51.5715C149.657 51.5715 149.109 51.6811 148.594 51.9005C148.079 52.1199 147.63 52.4204 147.249 52.8019C146.867 53.1835 146.567 53.6318 146.347 54.1468C146.128 54.6524 146.018 55.1961 146.018 55.7779Z" fill="#263238"/>
                    <path d="M168.961 59.3548V56.7079C168.961 56.4981 169.066 56.3932 169.276 56.3932H169.877C169.963 56.3932 170.039 56.4218 170.106 56.479C170.173 56.5267 170.206 56.603 170.206 56.7079V59.8842C170.206 59.9319 170.192 59.9844 170.163 60.0416C170.135 60.0893 170.082 60.137 170.006 60.1847L169.977 60.2133C169.529 60.5472 169.028 60.8047 168.475 60.9859C167.931 61.1576 167.345 61.2435 166.715 61.2435C165.962 61.2435 165.251 61.1004 164.583 60.8142C163.925 60.5281 163.348 60.1418 162.852 59.6553C162.366 59.1593 161.979 58.5822 161.693 57.9241C161.407 57.2564 161.264 56.5458 161.264 55.7922C161.264 55.0387 161.407 54.3328 161.693 53.6747C161.979 53.007 162.37 52.4251 162.866 51.9291C163.362 51.4331 163.939 51.0421 164.598 50.7559C165.265 50.4698 165.976 50.3267 166.729 50.3267C167.407 50.3267 168.06 50.4507 168.69 50.6987C168.814 50.7464 168.957 50.8084 169.119 50.8847C169.29 50.961 169.453 51.0421 169.605 51.1279C169.758 51.2138 169.887 51.3091 169.992 51.4141C170.096 51.5095 170.149 51.6001 170.149 51.6859C170.149 51.7431 170.135 51.7956 170.106 51.8433L169.791 52.3584C169.724 52.4728 169.643 52.5301 169.548 52.5301C169.453 52.5301 169.362 52.4919 169.276 52.4156C168.923 52.1676 168.527 51.9673 168.089 51.8147C167.659 51.6621 167.211 51.5858 166.744 51.5858C166.124 51.5858 165.551 51.705 165.027 51.9435C164.512 52.1724 164.068 52.4824 163.696 52.8735C163.324 53.2645 163.033 53.7128 162.823 54.2184C162.614 54.7239 162.509 55.2533 162.509 55.8065C162.509 56.3884 162.618 56.9368 162.838 57.4519C163.067 57.9575 163.372 58.401 163.753 58.7825C164.144 59.1641 164.593 59.4645 165.098 59.6839C165.613 59.8938 166.157 59.9987 166.729 59.9987C167.225 59.9987 167.669 59.9319 168.06 59.7984C168.451 59.6553 168.752 59.5075 168.961 59.3548Z" fill="#263238"/>
                    <path d="M183.049 53.8321C183.049 53.5459 182.991 53.2741 182.877 53.0165C182.772 52.759 182.624 52.5348 182.433 52.3441C182.243 52.1438 182.018 51.9864 181.761 51.8719C181.503 51.7479 181.222 51.6859 180.917 51.6859H177.697V55.9782H180.931C181.236 55.9782 181.518 55.921 181.775 55.8065C182.033 55.6921 182.252 55.5395 182.433 55.3487C182.624 55.1484 182.772 54.9195 182.877 54.6619C182.991 54.3948 183.049 54.1182 183.049 53.8321ZM176.467 60.7713V50.8131C176.467 50.5842 176.572 50.4698 176.782 50.4698H180.917C181.384 50.4698 181.823 50.5604 182.233 50.7416C182.643 50.9133 182.996 51.1518 183.292 51.457C183.597 51.7622 183.835 52.1199 184.007 52.5301C184.188 52.9402 184.279 53.379 184.279 53.8464C184.279 54.5236 184.098 55.1341 183.735 55.6778C183.373 56.2215 182.901 56.6268 182.319 56.8939L184.207 60.7713C184.227 60.8476 184.236 60.8905 184.236 60.9001C184.236 61.0241 184.15 61.0861 183.979 61.0861H183.192C183.096 61.0861 183.02 61.0622 182.963 61.0145C182.915 60.9668 182.867 60.9001 182.82 60.8142L181.088 57.1801C181.06 57.1801 181.007 57.1848 180.931 57.1944C180.855 57.1944 180.769 57.1944 180.673 57.1944C180.588 57.1944 180.497 57.1944 180.402 57.1944C180.316 57.1944 180.249 57.1944 180.201 57.1944H177.697V60.7713C177.697 60.9812 177.593 61.0861 177.383 61.0861H176.782C176.572 61.0861 176.467 60.9812 176.467 60.7713Z" fill="#263238"/>
                    <path d="M191.66 58.7682L190.859 60.7999C190.773 60.9907 190.64 61.0861 190.458 61.0861H189.843C189.643 61.0861 189.543 61.0098 189.543 60.8572C189.543 60.819 189.548 60.7761 189.557 60.7284C189.557 60.7093 189.562 60.6902 189.571 60.6712C190.258 59.0115 190.835 57.6188 191.303 56.4933C191.78 55.3582 192.171 54.4235 192.476 53.689C192.791 52.945 193.029 52.3775 193.191 51.9864C193.363 51.5858 193.487 51.2948 193.563 51.1136C193.64 50.9228 193.683 50.8131 193.692 50.7845C193.711 50.7464 193.721 50.7273 193.721 50.7273C193.74 50.6796 193.768 50.6271 193.806 50.5699C193.854 50.5031 193.945 50.4698 194.078 50.4698H194.493C194.617 50.4698 194.703 50.5031 194.751 50.5699C194.798 50.6271 194.832 50.6796 194.851 50.7273L198.972 60.6855C198.981 60.7045 198.991 60.7236 199 60.7427C199.01 60.7999 199.015 60.8381 199.015 60.8572C199.015 61.0098 198.91 61.0861 198.7 61.0861H198.085C197.894 61.0861 197.765 60.9955 197.698 60.8142L196.868 58.7682H191.66ZM194.279 52.3155L192.175 57.5521H196.368L194.279 52.3155Z" fill="#263238"/>
                    <path d="M210.644 60.6282H210.086C209.972 60.6282 209.876 60.5424 209.8 60.3707L206.509 52.6302L205.722 60.7713C205.722 60.9812 205.613 61.0861 205.393 61.0861H204.792C204.582 61.0861 204.477 60.9812 204.477 60.7713C204.649 59.0925 204.821 57.4281 204.993 55.7779C205.164 54.1278 205.336 52.4633 205.508 50.7845C205.508 50.6891 205.541 50.6128 205.608 50.5556C205.675 50.4984 205.756 50.4698 205.851 50.4698H206.738C206.891 50.4698 206.996 50.5604 207.053 50.7416L210.372 58.7253C210.925 57.3899 211.479 56.0593 212.032 54.7335C212.585 53.4076 213.138 52.077 213.692 50.7416C213.739 50.5604 213.839 50.4698 213.992 50.4698H214.922C215.017 50.4698 215.094 50.5031 215.151 50.5699C215.208 50.6271 215.237 50.6987 215.237 50.7845L216.281 60.7713C216.281 60.9812 216.172 61.0861 215.952 61.0861H215.351C215.141 61.0861 215.037 60.9812 215.037 60.7713L214.235 52.6302L210.945 60.3707C210.878 60.5424 210.778 60.6282 210.644 60.6282Z" fill="#263238"/>
                    <path d="M223.733 58.7682L222.931 60.7999C222.845 60.9907 222.712 61.0861 222.531 61.0861H221.915C221.715 61.0861 221.615 61.0098 221.615 60.8572C221.615 60.819 221.62 60.7761 221.629 60.7284C221.629 60.7093 221.634 60.6902 221.644 60.6712C222.33 59.0115 222.907 57.6188 223.375 56.4933C223.852 55.3582 224.243 54.4235 224.548 53.689C224.863 52.945 225.101 52.3775 225.263 51.9864C225.435 51.5858 225.559 51.2948 225.635 51.1136C225.712 50.9228 225.755 50.8131 225.764 50.7845C225.783 50.7464 225.793 50.7273 225.793 50.7273C225.812 50.6796 225.841 50.6271 225.879 50.5699C225.926 50.5031 226.017 50.4698 226.151 50.4698H226.565C226.689 50.4698 226.775 50.5031 226.823 50.5699C226.871 50.6271 226.904 50.6796 226.923 50.7273L231.044 60.6855C231.053 60.7045 231.063 60.7236 231.072 60.7427C231.082 60.7999 231.087 60.8381 231.087 60.8572C231.087 61.0098 230.982 61.0861 230.772 61.0861H230.157C229.966 61.0861 229.837 60.9955 229.77 60.8142L228.941 58.7682H223.733ZM226.351 52.3155L224.248 57.5521H228.44L226.351 52.3155Z" fill="#263238"/>
                    <path d="M245.742 60.7856V50.8131C245.742 50.5842 245.852 50.4698 246.071 50.4698H249.348C250.101 50.4698 250.802 50.6081 251.451 50.8847C252.099 51.1613 252.662 51.5381 253.139 52.015C253.616 52.4919 253.988 53.0547 254.255 53.7033C254.532 54.3519 254.67 55.0482 254.67 55.7922C254.67 56.5172 254.532 57.2039 254.255 57.8525C253.978 58.4916 253.597 59.0544 253.11 59.5408C252.634 60.0178 252.071 60.3945 251.422 60.6712C250.774 60.9478 250.082 61.0861 249.348 61.0861H246.071C245.976 61.0861 245.895 61.067 245.828 61.0288C245.771 60.9812 245.742 60.9001 245.742 60.7856ZM246.972 59.8699H249.433C250.025 59.8699 250.564 59.7555 251.05 59.5265C251.546 59.2976 251.971 58.9924 252.324 58.6108C252.676 58.2198 252.953 57.7762 253.153 57.2802C253.354 56.7747 253.454 56.2501 253.454 55.7064C253.454 55.0959 253.344 54.5427 253.125 54.0467C252.905 53.5507 252.605 53.131 252.223 52.7876C251.851 52.4347 251.417 52.1628 250.921 51.9721C250.425 51.7813 249.901 51.6859 249.348 51.6859H246.972V59.8699Z" fill="#263238"/>
                    <path d="M261.01 50.4698H267.892C268.102 50.4698 268.207 50.5795 268.207 50.7988V51.3855C268.207 51.4713 268.178 51.5476 268.121 51.6144C268.064 51.6811 267.983 51.7145 267.878 51.7145H261.926V54.8765H266.662C266.747 54.8765 266.819 54.9052 266.876 54.9624C266.943 55.0101 266.976 55.0912 266.976 55.2056V55.7922C266.976 55.8781 266.948 55.9544 266.89 56.0212C266.843 56.0879 266.766 56.1213 266.662 56.1213H261.926V59.8413H267.935C268.154 59.8413 268.264 59.9558 268.264 60.1847V60.7713C268.264 60.9812 268.159 61.0861 267.949 61.0861H261.01C260.8 61.0861 260.695 60.9859 260.695 60.7856V50.7988C260.695 50.5795 260.8 50.4698 261.01 50.4698Z" fill="#263238"/>
                    <path d="M290.113 59.3548V56.7079C290.113 56.4981 290.218 56.3932 290.428 56.3932H291.029C291.115 56.3932 291.191 56.4218 291.258 56.479C291.324 56.5267 291.358 56.603 291.358 56.7079V59.8842C291.358 59.9319 291.343 59.9844 291.315 60.0416C291.286 60.0893 291.234 60.137 291.157 60.1847L291.129 60.2133C290.681 60.5472 290.18 60.8047 289.627 60.9859C289.083 61.1576 288.496 61.2435 287.867 61.2435C287.113 61.2435 286.403 61.1004 285.735 60.8142C285.077 60.5281 284.5 60.1418 284.004 59.6553C283.517 59.1593 283.131 58.5822 282.845 57.9241C282.559 57.2564 282.415 56.5458 282.415 55.7922C282.415 55.0387 282.559 54.3328 282.845 53.6747C283.131 53.007 283.522 52.4251 284.018 51.9291C284.514 51.4331 285.091 51.0421 285.749 50.7559C286.417 50.4698 287.127 50.3267 287.881 50.3267C288.558 50.3267 289.212 50.4507 289.841 50.6987C289.965 50.7464 290.108 50.8084 290.27 50.8847C290.442 50.961 290.604 51.0421 290.757 51.1279C290.909 51.2138 291.038 51.3091 291.143 51.4141C291.248 51.5095 291.301 51.6001 291.301 51.6859C291.301 51.7431 291.286 51.7956 291.258 51.8433L290.943 52.3584C290.876 52.4728 290.795 52.5301 290.7 52.5301C290.604 52.5301 290.514 52.4919 290.428 52.4156C290.075 52.1676 289.679 51.9673 289.24 51.8147C288.811 51.6621 288.363 51.5858 287.895 51.5858C287.275 51.5858 286.703 51.705 286.178 51.9435C285.663 52.1724 285.22 52.4824 284.848 52.8735C284.476 53.2645 284.185 53.7128 283.975 54.2184C283.765 54.7239 283.66 55.2533 283.66 55.8065C283.66 56.3884 283.77 56.9368 283.989 57.4519C284.218 57.9575 284.523 58.401 284.905 58.7825C285.296 59.1641 285.744 59.4645 286.25 59.6839C286.765 59.8938 287.309 59.9987 287.881 59.9987C288.377 59.9987 288.821 59.9319 289.212 59.7984C289.603 59.6553 289.903 59.5075 290.113 59.3548Z" fill="#263238"/>
                    <path d="M298.849 50.7845V60.7713C298.849 60.9812 298.744 61.0861 298.534 61.0861H297.933C297.724 61.0861 297.619 60.9812 297.619 60.7713V50.7845C297.619 50.5747 297.724 50.4698 297.933 50.4698H298.534C298.744 50.4698 298.849 50.5747 298.849 50.7845Z" fill="#263238"/>
                    <path d="M305.789 56.5219H310.339C310.425 56.5219 310.496 56.5505 310.553 56.6078C310.62 56.6555 310.654 56.7318 310.654 56.8367V57.4376C310.654 57.5235 310.625 57.5998 310.568 57.6665C310.511 57.7333 310.434 57.7667 310.339 57.7667H305.789C305.56 57.7667 305.446 57.657 305.446 57.4376V56.8367C305.446 56.6268 305.56 56.5219 305.789 56.5219Z" fill="#263238"/>
                    <path d="M317.458 50.4698H324.34C324.55 50.4698 324.655 50.5795 324.655 50.7988V51.3855C324.655 51.4713 324.627 51.5476 324.569 51.6144C324.512 51.6811 324.431 51.7145 324.326 51.7145H318.374V54.8765H323.11C323.196 54.8765 323.267 54.9052 323.325 54.9624C323.391 55.0101 323.425 55.0912 323.425 55.2056V55.7922C323.425 55.8781 323.396 55.9544 323.339 56.0212C323.291 56.0879 323.215 56.1213 323.11 56.1213H318.374V59.8413H324.383C324.603 59.8413 324.712 59.9558 324.712 60.1847V60.7713C324.712 60.9812 324.607 61.0861 324.398 61.0861H317.458C317.249 61.0861 317.144 60.9859 317.144 60.7856V50.7988C317.144 50.5795 317.249 50.4698 317.458 50.4698Z" fill="#263238"/>
                    <path d="M336.625 52.6731C336.511 52.5682 336.367 52.449 336.196 52.3155C336.024 52.1819 335.829 52.0579 335.609 51.9435C335.39 51.8195 335.147 51.7193 334.879 51.643C334.622 51.5571 334.341 51.5142 334.035 51.5142C333.635 51.5142 333.287 51.5667 332.991 51.6716C332.705 51.767 332.466 51.8958 332.275 52.0579C332.094 52.2201 331.956 52.4061 331.861 52.6159C331.775 52.8162 331.732 53.0213 331.732 53.2311C331.732 53.4696 331.803 53.6795 331.946 53.8607C332.099 54.0419 332.295 54.1993 332.533 54.3328C332.781 54.4568 333.058 54.5665 333.363 54.6619C333.668 54.7573 333.973 54.8479 334.279 54.9338C334.708 55.0482 335.142 55.177 335.581 55.3201C336.029 55.4536 336.434 55.6301 336.797 55.8495C337.169 56.0688 337.469 56.3407 337.698 56.665C337.937 56.9893 338.056 57.4042 338.056 57.9098C338.056 58.4248 337.951 58.8875 337.741 59.2976C337.531 59.7078 337.245 60.0559 336.883 60.3421C336.53 60.6282 336.11 60.8476 335.623 61.0002C335.137 61.1528 334.612 61.2292 334.05 61.2292C333.306 61.2292 332.595 61.0813 331.918 60.7856C331.25 60.4804 330.687 60.0273 330.229 59.4264C330.153 59.3215 330.115 59.2356 330.115 59.1688C330.115 59.083 330.158 59.0067 330.244 58.9399L330.702 58.5536C330.768 58.5059 330.84 58.4821 330.916 58.4821C330.983 58.4821 331.045 58.5155 331.102 58.5822C331.169 58.6395 331.212 58.6776 331.231 58.6967C331.441 58.9161 331.675 59.1116 331.932 59.2833C332.199 59.4455 332.461 59.5838 332.719 59.6982C332.986 59.8032 333.239 59.8842 333.477 59.9415C333.716 59.9987 333.921 60.0273 334.093 60.0273C334.388 60.0273 334.698 59.9892 335.023 59.9128C335.347 59.827 335.643 59.703 335.91 59.5408C336.177 59.3692 336.396 59.1545 336.568 58.897C336.739 58.6395 336.825 58.339 336.825 57.9956C336.825 57.6999 336.744 57.4567 336.582 57.2659C336.42 57.0656 336.205 56.8939 335.938 56.7508C335.671 56.6078 335.361 56.4885 335.008 56.3932C334.665 56.2882 334.307 56.1881 333.935 56.0927C332.752 55.7875 331.87 55.425 331.288 55.0053C330.706 54.5761 330.415 53.999 330.415 53.2741C330.415 52.8353 330.501 52.4347 330.673 52.0722C330.845 51.7098 331.093 51.3998 331.417 51.1422C331.741 50.8751 332.128 50.6701 332.576 50.527C333.034 50.3839 333.539 50.3124 334.093 50.3124C334.665 50.3124 335.247 50.4411 335.838 50.6987C336.429 50.9467 336.93 51.271 337.34 51.6716C337.398 51.7384 337.455 51.8099 337.512 51.8862C337.579 51.953 337.612 52.015 337.612 52.0722C337.612 52.1485 337.574 52.2248 337.498 52.3011L337.069 52.7161C337.002 52.7828 336.94 52.8162 336.883 52.8162C336.806 52.8162 336.72 52.7685 336.625 52.6731Z" fill="#263238"/>
                    <path d="M352.258 51.3998C352.382 51.4761 352.444 51.5571 352.444 51.643C352.444 51.6907 352.43 51.7384 352.401 51.7861C352.382 51.8242 352.363 51.8576 352.344 51.8862L352.043 52.3584C351.958 52.4728 351.876 52.5301 351.8 52.5301C351.772 52.5205 351.733 52.511 351.686 52.5015C351.648 52.4824 351.6 52.4538 351.543 52.4156C351.18 52.1581 350.784 51.9578 350.355 51.8147C349.926 51.6621 349.492 51.5858 349.053 51.5858C348.423 51.5858 347.846 51.7002 347.322 51.9291C346.807 52.1581 346.358 52.4681 345.977 52.8591C345.605 53.2407 345.314 53.689 345.104 54.2041C344.894 54.7096 344.789 55.2438 344.789 55.8065C344.789 56.3979 344.904 56.9512 345.133 57.4662C345.371 57.9813 345.686 58.4296 346.077 58.8112C346.468 59.1832 346.916 59.4788 347.422 59.6982C347.937 59.9081 348.471 60.013 349.024 60.013C349.387 60.013 349.745 59.9653 350.097 59.8699C350.45 59.7745 350.842 59.5981 351.271 59.3405C351.366 59.2928 351.462 59.2308 351.557 59.1545C351.652 59.0687 351.733 59.0258 351.8 59.0258C351.886 59.0258 351.967 59.083 352.043 59.1975L352.372 59.7412C352.401 59.8079 352.415 59.8747 352.415 59.9415C352.415 60.0464 352.363 60.1275 352.258 60.1847C351.8 60.5185 351.299 60.7808 350.756 60.9716C350.212 61.1528 349.625 61.2435 348.996 61.2435C348.242 61.2435 347.532 61.1004 346.864 60.8142C346.206 60.5281 345.629 60.1418 345.133 59.6553C344.646 59.1593 344.26 58.5822 343.974 57.9241C343.688 57.2564 343.545 56.5458 343.545 55.7922C343.545 55.0387 343.688 54.3328 343.974 53.6747C344.26 53.007 344.651 52.4251 345.147 51.9291C345.643 51.4331 346.22 51.0421 346.878 50.7559C347.546 50.4698 348.257 50.3267 349.01 50.3267C349.611 50.3267 350.183 50.4221 350.727 50.6128C351.28 50.7941 351.791 51.0564 352.258 51.3998Z" fill="#263238"/>
                    <path d="M365.036 53.8321C365.036 53.5459 364.979 53.2741 364.864 53.0165C364.759 52.759 364.611 52.5348 364.421 52.3441C364.23 52.1438 364.006 51.9864 363.748 51.8719C363.491 51.7479 363.209 51.6859 362.904 51.6859H359.685V55.9782H362.918C363.224 55.9782 363.505 55.921 363.762 55.8065C364.02 55.6921 364.239 55.5395 364.421 55.3487C364.611 55.1484 364.759 54.9195 364.864 54.6619C364.979 54.3948 365.036 54.1182 365.036 53.8321ZM358.454 60.7713V50.8131C358.454 50.5842 358.559 50.4698 358.769 50.4698H362.904C363.371 50.4698 363.81 50.5604 364.22 50.7416C364.63 50.9133 364.983 51.1518 365.279 51.457C365.584 51.7622 365.823 52.1199 365.994 52.5301C366.176 52.9402 366.266 53.379 366.266 53.8464C366.266 54.5236 366.085 55.1341 365.723 55.6778C365.36 56.2215 364.888 56.6268 364.306 56.8939L366.195 60.7713C366.214 60.8476 366.223 60.8905 366.223 60.9001C366.223 61.0241 366.138 61.0861 365.966 61.0861H365.179C365.084 61.0861 365.007 61.0622 364.95 61.0145C364.902 60.9668 364.855 60.9001 364.807 60.8142L363.076 57.1801C363.047 57.1801 362.995 57.1848 362.918 57.1944C362.842 57.1944 362.756 57.1944 362.661 57.1944C362.575 57.1944 362.484 57.1944 362.389 57.1944C362.303 57.1944 362.236 57.1944 362.189 57.1944H359.685V60.7713C359.685 60.9812 359.58 61.0861 359.37 61.0861H358.769C358.559 61.0861 358.454 60.9812 358.454 60.7713Z" fill="#263238"/>
                    <path d="M97.0945 25.4066L97.1291 28.0692C97.0369 29.7521 96.8294 31.1698 96.5067 32.3225C96.1839 33.4751 95.55 34.524 94.6048 35.4692C93.0372 37.0368 90.755 37.8206 87.7581 37.8206C84.231 37.8206 81.8104 37.3595 80.4964 36.4374C79.1824 35.4922 78.5254 33.7979 78.5254 31.3542V13.2001H88.1039C90.8702 13.2001 93.0372 13.9839 94.6048 15.5515C95.8727 16.8194 96.6219 18.3639 96.8525 20.1851C97.0138 21.4761 97.0945 23.2166 97.0945 25.4066ZM91.2506 32.0113C91.6886 31.481 91.9653 30.7549 92.0805 29.8328C92.2188 28.8876 92.288 27.4237 92.288 25.4412C92.288 23.4586 92.2188 22.0293 92.0805 21.1533C91.9653 20.2543 91.6886 19.5396 91.2506 19.0094C90.4207 17.9951 89.222 17.4879 87.6544 17.4879H83.3319V31.1122C83.3319 32.0343 83.6431 32.6683 84.2656 33.0141C84.888 33.3599 85.9945 33.5327 87.5852 33.5327C89.1989 33.5327 90.4207 33.0256 91.2506 32.0113Z" fill="#263238"/>
                    <path d="M106.126 37.8206H101.319V13.2001H106.126V37.8206Z" fill="#263238"/>
                    <path d="M128.453 30.5589C128.453 32.8873 127.6 34.72 125.895 36.057C124.189 37.3711 122.01 38.0281 119.359 38.0281C117.261 38.0281 115.233 37.4517 113.273 36.2991C112.305 35.6997 111.51 34.8583 110.887 33.7748C110.265 32.6683 109.953 31.4119 109.953 30.0057L114.31 29.7982C114.31 31.043 114.841 32.0113 115.901 32.7028C116.962 33.3944 118.137 33.7402 119.428 33.7402C122.31 33.7402 123.751 32.7259 123.751 30.6972C123.751 29.0374 122.771 28.0577 120.811 27.758L116.8 27.343C114.795 27.0433 113.204 26.3287 112.028 25.1991C110.853 24.0695 110.265 22.4443 110.265 20.3234C110.265 18.2025 111.106 16.4505 112.789 15.0673C114.472 13.6842 116.593 12.9926 119.152 12.9926C121.734 12.9926 123.808 13.6496 125.376 14.9636C126.943 16.2546 127.727 17.9259 127.727 19.9776L123.439 20.1851C123.048 18.1795 121.699 17.1767 119.394 17.1767C117.987 17.1767 116.881 17.4764 116.074 18.0758C115.29 18.6751 114.898 19.3898 114.898 20.2197C114.898 21.0265 115.186 21.672 115.763 22.1561C116.339 22.6172 117.054 22.9053 117.907 23.0206L121.849 23.4356C126.252 24.0349 128.453 26.4094 128.453 30.5589Z" fill="#263238"/>
                    <path d="M148.296 17.4879H141.691V37.8206H136.885V17.4879H130.315V13.2001H148.296V17.4879Z" fill="#263238"/>
                    <path d="M170.679 37.8206H165.111L160.305 28.6916H156.847V37.8206H152.04V18.4907C152.04 16.6465 152.467 15.3094 153.32 14.4795C154.173 13.6265 155.602 13.2001 157.608 13.2001H161.688C164.132 13.2001 166.068 13.9493 167.497 15.4477C168.95 16.9231 169.676 18.8019 169.676 21.0842C169.676 22.744 169.238 24.1848 168.362 25.4066C167.509 26.6053 166.448 27.4352 165.181 27.8963L170.679 37.8206ZM161.377 24.6804C162.391 24.6804 163.221 24.3346 163.867 23.643C164.535 22.9284 164.869 22.0524 164.869 21.015C164.869 19.9546 164.547 19.1016 163.901 18.4561C163.279 17.8106 162.437 17.4879 161.377 17.4879H158.991C157.562 17.4879 156.847 18.2141 156.847 19.6664V24.6804H161.377Z" fill="#263238"/>
                    <path d="M179.472 37.8206H174.666V13.2001H179.472V37.8206Z" fill="#263238"/>
                    <path d="M201.212 17.4879H194.607V37.8206H189.801V17.4879H183.23V13.2001H201.212V17.4879Z" fill="#263238"/>
                    <path d="M223.007 24.3692V26.2365C223.007 30.363 222.223 33.3599 220.655 35.2271C219.111 37.0944 216.621 38.0281 213.186 38.0281C209.751 38.0281 207.262 37.0944 205.717 35.2271C204.196 33.3599 203.435 30.3284 203.435 26.1328V24.3346C203.435 20.5078 204.207 17.6608 205.752 15.7935C207.319 13.9262 209.786 12.9926 213.152 12.9926C216.54 12.9926 219.03 13.9378 220.621 15.8281C222.211 17.7184 223.007 20.5655 223.007 24.3692ZM218.2 26.1328V24.8533C218.2 22.6402 217.924 20.8767 217.37 19.5627C216.725 18.0412 215.342 17.2804 213.221 17.2804C211.077 17.2804 209.682 18.0412 209.037 19.5627C208.506 20.8075 208.241 22.5711 208.241 24.8533V26.1328C208.241 29.1066 208.656 31.1122 209.486 32.1496C209.809 32.5876 210.282 32.968 210.904 33.2907C211.549 33.5904 212.31 33.7402 213.186 33.7402C214.085 33.7402 214.846 33.5904 215.468 33.2907C216.091 32.991 216.575 32.6222 216.921 32.1842C217.267 31.7461 217.532 31.1698 217.716 30.4552C218.039 29.3256 218.2 27.8848 218.2 26.1328Z" fill="#263238"/>
                    <path d="M241.763 26.2365V23.1935C241.763 19.9891 242.604 17.4879 244.287 15.6898C245.97 13.8916 248.298 12.9926 251.272 12.9926C254.246 12.9926 256.632 13.8916 258.43 15.6898C259.698 16.9577 260.332 18.8596 260.332 21.3954H255.836C255.836 18.6521 254.373 17.2804 251.445 17.2804C250.569 17.2804 249.82 17.4533 249.197 17.7991C248.598 18.1219 248.148 18.5022 247.849 18.9402C247.549 19.3782 247.318 20.0237 247.157 20.8767C246.996 21.7296 246.903 22.4443 246.88 23.0206C246.857 23.5969 246.846 24.3692 246.846 25.3374C246.846 26.3057 246.846 26.9627 246.846 27.3085C246.869 27.6312 246.903 28.1729 246.949 28.9337C247.019 29.6714 247.111 30.2016 247.226 30.5243C247.364 30.8471 247.549 31.262 247.779 31.7692C248.033 32.2764 248.344 32.6337 248.713 32.8412C249.658 33.4405 250.73 33.7402 251.929 33.7402C253.935 33.7402 255.352 32.8873 256.182 31.1814V29.5215H253.208V25.5103H260.297V32.9449C259.582 34.6278 258.453 35.8957 256.908 36.7486C255.364 37.6016 253.612 38.0281 251.652 38.0281C248.171 38.0281 245.647 37.0598 244.079 35.1234C242.535 33.1639 241.763 30.2016 241.763 26.2365Z" fill="#263238"/>
                    <path d="M280.482 37.8206H273.151C270.385 37.8206 268.379 37.2904 267.134 36.2299C265.912 35.1465 265.301 33.3944 265.301 30.9739V13.2001H270.108V30.9739C270.108 31.9421 270.327 32.6106 270.765 32.9795C271.203 33.3483 271.998 33.5327 273.151 33.5327H280.482V37.8206Z" fill="#263238"/>
                    <path d="M302.364 24.3692V26.2365C302.364 30.363 301.58 33.3599 300.012 35.2271C298.468 37.0944 295.978 38.0281 292.543 38.0281C289.108 38.0281 286.619 37.0944 285.074 35.2271C283.553 33.3599 282.792 30.3284 282.792 26.1328V24.3346C282.792 20.5078 283.564 17.6608 285.109 15.7935C286.676 13.9262 289.143 12.9926 292.509 12.9926C295.897 12.9926 298.387 13.9378 299.978 15.8281C301.568 17.7184 302.364 20.5655 302.364 24.3692ZM297.557 26.1328V24.8533C297.557 22.6402 297.281 20.8767 296.727 19.5627C296.082 18.0412 294.699 17.2804 292.578 17.2804C290.434 17.2804 289.039 18.0412 288.394 19.5627C287.863 20.8075 287.598 22.5711 287.598 24.8533V26.1328C287.598 29.1066 288.013 31.1122 288.843 32.1496C289.166 32.5876 289.639 32.968 290.261 33.2907C290.906 33.5904 291.667 33.7402 292.543 33.7402C293.442 33.7402 294.203 33.5904 294.825 33.2907C295.448 32.991 295.932 32.6222 296.278 32.1842C296.624 31.7461 296.889 31.1698 297.073 30.4552C297.396 29.3256 297.557 27.8848 297.557 26.1328Z" fill="#263238"/>
                    <path d="M324.41 30.7318C324.41 33.0141 323.788 34.7661 322.543 35.9879C321.321 37.2097 319.604 37.8206 317.39 37.8206H314.071C311.351 37.8206 309.414 37.348 308.261 36.4028C307.132 35.4577 306.567 33.8209 306.567 31.4926V13.2001H316.975C319.327 13.2001 321.09 13.7879 322.266 14.9636C323.465 16.1393 324.064 17.7991 324.064 19.943C324.064 21.1879 323.742 22.2483 323.096 23.1243C322.474 24.0004 321.782 24.6228 321.021 24.9916C323.28 26.0521 324.41 27.9655 324.41 30.7318ZM316.595 22.8131C318.37 22.8131 319.258 21.9256 319.258 20.1505C319.258 18.3754 318.37 17.4879 316.595 17.4879H311.374V22.8131H316.595ZM319.604 30.4898C319.604 29.3832 319.408 28.5533 319.016 28C318.624 27.4237 317.921 27.1356 316.906 27.1356H311.374V31.0085C311.374 31.9536 311.604 32.6106 312.065 32.9795C312.549 33.3483 313.333 33.5327 314.417 33.5327H316.906C318.704 33.5327 319.604 32.5184 319.604 30.4898Z" fill="#263238"/>
                    <path d="M348 37.8206H342.986L341.603 33.5673H333.339L331.99 37.8206H326.976L334.86 15.2748C335.206 14.491 335.586 13.9493 336.001 13.6496C336.439 13.3499 336.969 13.2001 337.592 13.2001C338.214 13.2001 338.71 13.3384 339.079 13.615C339.471 13.8916 339.816 14.4449 340.116 15.2748L348 37.8206ZM340.496 29.5215L337.592 19.7701L334.549 29.5215H340.496Z" fill="#263238"/>
                    <path d="M366.559 37.8206H359.228C356.462 37.8206 354.456 37.2904 353.211 36.2299C351.989 35.1465 351.378 33.3944 351.378 30.9739V13.2001H356.185V30.9739C356.185 31.9421 356.404 32.6106 356.842 32.9795C357.28 33.3483 358.075 33.5327 359.228 33.5327H366.559V37.8206Z" fill="#263238"/>
                    <path d="M78.5254 43.7122H366.457" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="uk-visible@m uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li><a href="{{ site.baseurl }}/about" class="font-menu">{% t navbar.item_1 %}</a></li>
              <li><a href="{{ site.baseurl }}/projects" class="font-menu">{% t navbar.item_2 %}</a></li>
              <li><a href="{{ site.baseurl }}/publications" class="font-menu">{% t navbar.item_3 %}</a></li>
              <li><a href="{{ site.baseurl }}/news" class="font-menu">{% t navbar.item_4 %}</a></li>
              <li><a href="{{ site.baseurl }}/contact" class="font-menu">{% t navbar.item_5 %}</a></li>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="{{ site.baseurl }}/contact" class="font-menu">{% t navbar.item_6 %}</a></li>
                    <li><a href="{{ site.baseurl }}/join" class="font-menu">{% t navbar.item_7 %}</a></li>
                  </ul>
                </div>
              <li>
                {% if site.lang == "es" %}
                  {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
                  <a class="font-menu" href="{{ link_en }}">EN</a>
                {% elsif site.lang == "en" %}
                  {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
                  <a class="font-menu" href="{{ link_es }}">ES</a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="uk-hidden@m uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
            <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
              <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                  <button class="uk-offcanvas-close" type="button" uk-close></button>
                  <ul class="uk-nav-parent-icon uk-nav-center uk-margin-auto-vertical" uk-nav>
                    <li><a href="{{ site.baseurl }}/about" class="font-menu">{% t navbar.item_1 %}</a></li>
                    <li><a href="{{ site.baseurl }}/projects" class="font-menu">{% t navbar.item_2 %}</a></li>
                    <li><a href="{{ site.baseurl }}/publications" class="font-menu">{% t navbar.item_3 %}</a></li>
                    <li><a href="{{ site.baseurl }}/news" class="font-menu">{% t navbar.item_4 %}</a></li>
                    <li><a href="{{ site.baseurl }}/contact" class="font-menu">{% t navbar.item_6 %}</a></li>
                    <li><a href="{{ site.baseurl }}/join" class="font-menu">{% t navbar.item_7 %}</a></li>
                    <hr>
                    {% if site.lang == "es" %}
                      {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
                      <li class="font-menu"> <a href="{{ link_en }}" >EN</a> </li>
                    {% elsif site.lang == "en" %}
                      {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
                      <li class="font-menu"> <a href="{{ link_es }}" >ES</a> </li>
                    {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
</header>
