
<div id="hero-page" class="uk-visible@m uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover animate__animated animate__fadeIn animate__delay-2s fast" data-src="{{site.baseurl_root}}/assets/images/hero/{{include.hero_desktop}}" uk-parallax="bgy: -100;" uk-img>
  <div class="uk-container uk-text-center uk-width-2-3@m">
    <div class="">
      <h1 class="font-white"> {{ include.title }} </h1>
      <p class="welcome-page-subtitle font-white"><span> {{ include.subtitle }} </span></p>
    </div>
  </div>
</div>


<div id="hero-page" class="uk-hidden@m uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover animate__animated animate__fadeIn animate__delay-2s fast" data-src="{{site.baseurl_root}}/assets/images/hero/{{include.hero_mobile}}" uk-parallax="bgy: -100;" uk-img>
  <div class="uk-container uk-text-center uk-width-2-3@m">
    <div class="">
      <h1 class="font-white"> {{ include.title }} </h1>
      <p class="welcome-page-subtitle font-white"><span> {{ include.subtitle }} </span></p>
    </div>
  </div>
</div>
