<!--Initiatives-->
<div id="initiatives" class="uk-section animate__animated animate__fadeIn animate__delay-2s animate__fast">
  <div class="uk-container uk-width-1-1" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-5-6@m">
        <!--Initiatives-->
        <div class="uk-flex" uk-grid>
          {% assign active_initiatives = site.initiatives | where: "active", true %}
          {% for i in active_initiatives %}
          <!-- 3 col -->
          <div class="uk-width-1-3@m">
            <!-- Image -->
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              <a href="{{i.url}}">
                <img data-src="{{i.image_thumbnail}}" class="uk-transition-scale-up uk-transition-opaque" alt="" uk-img>
              </a>
            </div>
            <!-- Content -->
            <div>
              <div class="dash dash-black">
                <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="6" fill="none"/>
                </svg>
              </div>
              {% if site.lang == "es" %}
                <h3 class="link-highlighted"><span><a href="{{i.url}}">{{i.title_es}}</a></span></h3>
                <p>{{i.summary_es}}</p>
                {% if {{i.button_es}} != null %}
                <a href="{{i.url}}" class="uk-button uk-button-small button-line-black">{{i.button_es}}</a>
                {% endif %}
              {% elsif site.lang == "en" %}
                {% if {{i.title_en}} != null %}
                  <h3 class="link-highlighted"><span><a href="{{i.url}}">{{i.title_en}}</a></span></h3>
                  {% else %}
                  <h3 class="link-highlighted"><span><a href="{{i.url}}">{{i.title_es}}</a></span></h3>
                {% endif %}
                {% if {{i.summary_en}} != null %}
                  <p>{{i.summary_en}}</p>
                  {% else %}
                  <p>{{i.summary_es}}</p>
                {% endif %}
                {% if {{i.button_en}} != null %}
                  <a href="{{i.url}}" class="uk-button uk-button-small button-line-black">{{i.button_en}}</a>
                  {% else %}
                  <a href="{{i.url}}" class="uk-button uk-button-small button-line-black">{{i.button_es}}</a>
                {% endif %}
              {% endif %}
            </div>
          </div><!-- End 3 col -->
          {% endfor %}
        </div><!-- End flex -->
        <div class="uk-flex" uk-grid>
          {% assign inactive_initiatives = site.initiatives | where: "active", false %}
          {% for n in inactive_initiatives %}
          <!-- 3 col -->
          <div class="uk-width-1-3@m">
            <!-- Image -->
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              <a href="{{n.url}}">
                <img data-src="{{n.image_thumbnail}}" class="uk-transition-scale-up uk-transition-opaque" alt="" uk-img>
              </a>
            </div>
            <!-- Content -->
            <div>
              <div class="dash dash-black">
                <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="6" fill="none"/>
                </svg>
              </div>
              {% if site.lang == "es" %}
                <h3 class="link-highlighted"><span><a href="{{n.url}}">{{n.title_es}}</a></span></h3>
                <p>{{n.summary_es}}</p>
                {% if {{n.button_es}} != null %}
                <a href="{{n.url}}" class="uk-button uk-button-small button-line-black">{{n.button_es}}</a>
                {% endif %}
              {% elsif site.lang == "en" %}
                {% if {{n.title_en}} != null %}
                  <h3 class="link-highlighted"><span><a href="{{n.url}}">{{n.title_en}}</a></span></h3>
                  {% else %}
                  <h3 class="link-highlighted"><span><a href="{{n.url}}">{{n.title_es}}</a></span></h3>
                {% endif %}
                {% if {{n.summary_en}} != null %}
                  <p>{{n.summary_en}}</p>
                  {% else %}
                  <p>{{n.summary_es}}</p>
                {% endif %}
                {% if {{n.button_en}} != null %}
                  <a href="{{n.url}}" class="uk-button uk-button-small button-line-black">{{n.button_en}}</a>
                  {% else %}
                  <a href="{{n.url}}" class="uk-button uk-button-small button-line-black">{{n.button_es}}</a>
                {% endif %}
              {% endif %}
            </div>
          </div><!-- End 3 col -->
          {% endfor %}
        </div><!-- End flex -->
      </div>
    </div>
  </div>
</div>
