---
layout: default
---
<!--Hero Desktop-->
<div id="hero" class="uk-visible@m">
  <div class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover animate__animated animate__fadeIn animate__delay-2s fast" data-src="assets/images/hero/hero-home-desktop.jpg" uk-parallax="bgy: -350;" uk-img>
    <div class="uk-container uk-text-center uk-width-2-3@m">
      <div>
        <h1 class="welcome-home-title animate__animated animate__fadeInUp animate__delay-2s animate__fast"><span>{% t home.hero.title %}</span></h1>
        <p class="welcome-home-subtitle animate__animated animate__fadeInUp animate__delay-2s animate__fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.subtitle %}</p>
        <a class="icon-hero" href="#projects" uk-scroll>
          <svg class="animate__animated animate__fadeInUp animate__delay-2s animate__fast" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.25 1L8.25 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.25 10L8.25 17L1.25 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Hero Mobile-->
<div id="hero" class="uk-hidden@m">
  <div class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animate__animated animate__fadeIn animate__delay-2s fast" data-src="assets/images/hero-home-desktop.jpg" uk-parallax="bgy: -350;" uk-img>
    <div class="uk-container uk-text-center uk-width-2-3@m">
      <div>
        <h1 class="welcome-home-title animate__animated animate__fadeInUp animate__delay-2s animate__fast">{% t home.hero.title %}</h1>
        <p class="welcome-home-subtitle animate__animated animate__fadeInUp animate__delay-2s animate__fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.subtitle %}</p>
        <a class="icon-hero" href="#projects" uk-scroll>
          <svg class="animate__animated animate__fadeInUp animate__delay-2s animate__fast" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.25 1L8.25 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.25 10L8.25 17L1.25 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Projects-->
<div id="projects" class="uk-section animate__animated animate__fadeIn animate__delay-4s animate__fast">
  <div class="uk-container uk-width-1-1" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h2 class="font-black">{% t home.projects.title %}</h2>
        <p class="font-lead">{% t home.projects.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-5-6@m">
        <div class="uk-flex uk-flex-center" uk-grid>
          <!-- For -->
          <!-- 3 col -->
          <div class="uk-width-1-3@m">
            <!-- Image -->
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              <a href="">
                Image
              </a>
            </div>
            <!-- Content -->
            <h3 class="link-highlighted"><span><a href="">Lorem ipsum dolor sit</a></span></h3>
            <p>Párrafo</p>
          </div><!-- End 3 col -->
          <!-- 3 col -->
          <div class="uk-width-1-3@m">
            <!-- Image -->
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              <a href="">
                Image
              </a>
            </div>
            <!-- Content -->
            <h3 class="link-highlighted"><span><a href="">Lorem ipsum dolor sit</a></span></h3>
            <p>Párrafo</p>
          </div><!-- End 3 col -->
          <!-- 3 col -->
          <div class="uk-width-1-3@m">
            <!-- Image -->
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              <a href="">
                Image
              </a>
            </div>
            <!-- Content -->
            <h3 class="link-highlighted"><span><a href="">Lorem ipsum dolor sit</a></span></h3>
            <p>Párrafo</p>
          </div><!-- End 3 col -->
        </div><!-- End flex -->
      </div>
    </div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/projects" class="uk-button button-bg-black">{% t home.projects.button %}</a>
      </div>
    </div>
  </div>
</div>

<!--How we work Desktop-->
<div class="uk-visible@m uk-section bg-black-soft animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
      <div class="uk-width-1-4@m">
        <h2 class="font-white">{% t home.how_we_work.title %}</h2>
        <p class="font-white font-lead">{% t home.how_we_work.description %}</p>
        <a href="{{ site.baseurl }}/about" class="uk-button button-line-white">{% t home.how_we_work.button %}</a>
      </div>
      <div class="uk-width-1-4@m uk-text-center">
        <img data-src="../assets/images/icon-action-1-white.svg" uk-img>
        <p class="font-white">{% t home.how_we_work.action_1 %}</p>
      </div>
      <div class="uk-width-1-4@m uk-text-center">
        <img data-src="../assets/images/icon-action-2-white.svg" uk-img>
        <p class="font-white">{% t home.how_we_work.action_2 %}</p>
      </div>
      <div class="uk-width-1-4@m uk-text-center">
        <img data-src="../assets/images/icon-action-3-white.svg" uk-img>
        <p class="font-white">{% t home.how_we_work.action_3 %}</p>
      </div>
    </div>
  </div>
</div>

<!--How we work Mobile-->
<div class="uk-hidden@m uk-section bg-black-soft animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="font-white">{% t home.how_we_work.title %}</h2>
        <p class="font-white font-lead">{% t home.how_we_work.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-3 uk-text-center">
        <img data-src="../assets/images/icon-action-1-white.svg" uk-img>
        <p class="font-white">{% t home.how_we_work.action_1 %}</p>
      </div>
      <div class="uk-width-1-3 uk-text-center">
        <img data-src="../assets/images/icon-action-2-white.svg" uk-img>
        <p class="font-white">{% t home.how_we_work.action_2 %}</p>
      </div>
      <div class="uk-width-1-3 uk-text-center">
        <img data-src="../assets/images/icon-action-3-white.svg" uk-img>
        <p class="font-white">{% t home.how_we_work.action_3 %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/about" class="uk-button button-line-white">{% t home.how_we_work.button %}</a>
      </div>
    </div>
  </div>
</div>

<!--Publications-->
<div class="uk-section animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h2 class="font-black">{% t home.publications.title %}</h2>
        <p class="font-lead">{% t home.publications.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-3-4@m">
        <div uk-slider>
            <div class="uk-position-relative">
                <div class="uk-slider-container">
                    <ul class="uk-slider-items uk-child-width-1-1">
                        <li>
                          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                              <div class="uk-card-media-left uk-cover-container">
                                  <img src="" alt="" uk-cover>
                                  <canvas width="600" height="400"></canvas>
                              </div>
                              <div>
                                  <div class="uk-card-body bg-black-soft">
                                      <p class="font-label-white" style="margin: 0 0 -20px;">Publicaciones · Categorías</p>
                                      <h3 class="font-white">Media Left</h3>
                                      <p class="font-white" style="margin-bottom:30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                      <a href="" class="uk-button uk-button-small button-line-white">Leer publicación</a>
                                      <a href="" class="uk-button uk-button-small button-line-white">Descargar ICONO</a>
                                  </div>
                              </div>
                          </div>
                        </li>
                        <li>
                          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                              <div class="uk-card-media-left uk-cover-container">
                                  <img src="" alt="" uk-cover>
                                  <canvas width="600" height="400"></canvas>
                              </div>
                              <div>
                                  <div class="uk-card-body">
                                      <h3 class="uk-card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                                  </div>
                              </div>
                          </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
      </div>
    </div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/publications" class="uk-button button-bg-black">{% t home.publications.button %}</a>
      </div>
    </div>
  </div>
</div>

<!--News-->
<div class="uk-section bg-grey-soft animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h2 class="font-black">{% t home.news.title %}</h2>
        <p class="font-lead">{% t home.news.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-5-6@m">
        <div class="uk-flex uk-flex-center" uk-grid>
          <!-- For -->
          <!-- 3 col -->
          <div class="uk-width-1-3@m">
            <!-- Image -->
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              Image
            </div>
            <!-- Content -->
            <p class="font-label-black-soft" style="margin: 0 0 -20px;">Categoría</p>
            <h3 class="link-highlighted"><span><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</a></span></h3>
            <p class="font-label-grey">Fecha</p>
          </div><!-- End 3 col -->
        </div><!-- End flex -->
      </div>
    </div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/news" class="uk-button button-bg-black">{% t home.news.button %}</a>
      </div>
    </div>
  </div>
</div>

<!--Alliances-->
<div class="uk-section animate__animated animate__fadeIn">
  <div class="uk-container uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="font-black">{% t home.alliances.title %}</h2>
        <p class="font-lead">{% t home.alliances.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      Alianzas
    </div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/alliances" class="uk-button button-line-black">{% t home.alliances.button %}</a>
      </div>
    </div>
  </div>
</div>

<!--Social media-->
<div class="uk-section bg-grey-soft animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="font-black">{% t home.social_media.title %}</h2>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="font-black">Instagram</h3>
      </div>
      <div class="uk-width-1-4@m">
        <h3 class="font-black">Twitter</h3>
      </div>
    </div>
  </div>
</div>
