---
layout: default
---

<div id="hero-page" class="uk-height-viewport uk-flex uk-inline uk-flex-middle uk-background-cover uk-light animate__animated animate__fadeIn animate__delay-2s animate__fast"
  data-src="{{page.image_hero}}" uk-parallax="bgy: -100;" uk-img>
</div>

<!--Content-->
<div class="uk-section animate__animated animate__fadeIn animate__delay-2s animate__fast">
  <div class="uk-container" style="margin-bottom: 50px;">
    {% if site.lang == "es" %}
      <p class="font-label-grey"><a class="underline" href="{{ site.baseurl }}/iniciativas">{% t initiatives.breadcrumb %}</a> > {{page.title_es}}</p>
    {% elsif site.lang == "en" %}
      <p class="font-label-grey"><a class="underline" href="{{ site.baseurl }}/iniciativas">{% t initiatives.breadcrumb %}</a> > {{page.title_en}}</p>
    {% endif %}
  </div>
  <div class="uk-container uk-width-2-3@m">
  <article>
    {% if site.lang == "es" %}
      <h1 class="font-black" style="margin: 0 0 10px;">{{page.title_es}}</h1>
      <p class="font-lead">{{page.brief_es}}</p>
      <div class="dash dash-black">
        <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="30" height="6" fill="none"/>
        </svg>
      </div>
      <div class="uk-text-justify">
        {{page.content_block_es | markdownify }}
      </div>
    {% elsif site.lang == "en" %}
      {% if {{page.title_en}} != null %}
        <h1 class="font-black" style="margin: 0 0 10px;">{{page.title_en}}</h1>
        <p class="font-lead">{{page.brief_en}}</p>
        {% else %}
        <h1 class="font-black" style="margin: 0 0 10px;">{{page.title_es}}</h1>
        <p class="font-lead">{{page.brief_es}}</p>
      {% endif %}
      <div class="dash dash-black">
        <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="30" height="6" fill="none"/>
        </svg>
      </div>
      <div class="uk-text-justify">
        {% if {{page.title_en}} != null %}
            {{page.content_block_en | markdownify }}
          {% else %}
            {{page.content_block_es | markdownify }}
        {% endif %}
      </div>
    {% endif %}
    </article>
  </div>
</div>

<!--contributions-->
<div class="bg-grey-soft uk-section animate__animated animate__fadeIn animate__delay-2s animate__fast">
  <div class="uk-container uk-width-1-1" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div>
      <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
        <div class="uk-width-2-3@m">
          <h2 class="font-black">{% t initiatives.contributions %}</h2>
        </div>
      </div>
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-5-6@m">
          <div class="uk-flex" uk-grid>
            {% for a in site.testimonios %}
            <!-- 3 col -->
            <div class="uk-width-1-3@m">
              <!-- Image -->
              <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                <a href="{{a.url}}">
                  <img data-src="{{a.image_thumbnail}}" class="uk-transition-scale-up uk-transition-opaque" alt="" uk-img>
                </a>
              </div>
              <!-- Content -->
              {% if site.lang == "es" %}
                <div class="dash dash-black">
                  <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="6" fill="none"/>
                  </svg>
                </div>
                <h3 class="link-highlighted"><span><a href="{{n.url}}">{{a.title_es}}</a></span></h3>
              {% elsif site.lang == "en" %}
                {% if {{n.title_en}} != null %}
                  <h3 class="link-highlighted"><span><a href="{{n.url}}">{{a.title_en}}</a></span></h3>
                  {% else %}
                  <h3 class="link-highlighted"><span><a href="{{n.url}}">{{a.title_es}}</a></span></h3>
                {% endif %}
              {% endif %}
              <p class="font-label-grey">{{ n.date | date_to_string }}</p>
            </div><!-- End 3 col -->
            {% endfor %}
          </div><!-- End flex -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Alliances -->
{% if {{page.alliance_1_org}} != null %}
<div class="uk-section animate__animated animate__fadeIn">
  <div class="uk-container" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h3 class="font-black">{% t initiatives.alliances %}</h3>
      </div>
      <div class="uk-width-3-4 uk-width-1-2@m">
        <div uk-slider>
          <div class="uk-position-relative">
            <div class="uk-slider-container uk-light">
                <ul class="uk-slider-items uk-child-width-1-2 uk-grid">
                  {% if {{page.alliance_1_org}} != null %}
                  <li>
                    <div class="uk-panel">
                        <img data-src="{{page.alliance_1_logo}}" title="{{page.alliance_1_org}}" uk-img>
                    </div>
                  </li>
                  {% endif %}
                  {% if {{page.alliance_2_org}} != null %}
                  <li>
                    <div class="uk-panel">
                        <img data-src="{{page.alliance_2_logo}}" title="{{page.alliance_2_org}}" uk-img>
                    </div>
                  </li>
                  {% endif %}
                  {% if {{page.alliance_3_org}} != null %}
                  <li>
                    <div class="uk-panel">
                        <img data-src="{{page.alliance_3_logo}}" title="{{page.alliance_3_org}}" uk-img>
                    </div>
                  </li>
                  {% endif %}
                  {% if {{page.alliance_4_org}} != null %}
                  <li>
                    <div class="uk-panel">
                        <img data-src="{{page.alliance_4_logo}}" title="{{page.alliance_4_org}}" uk-img>
                    </div>
                  </li>
                  {% endif %}
                  {% if {{page.alliance_5_org}} != null %}
                    <li>
                      <div class="uk-panel">
                          <img data-src="{{page.alliance_5_logo}}" title="{{page.alliance_5_org}}" uk-img>
                      </div>
                    </li>
                  {% endif %}
                </ul>
            </div>

            <div>
                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
