---
layout: default
---

<div class="uk-section animate__animated animate__fadeIn animate__delay-2s animate__fast">
  <div class="uk-container" style="margin-bottom: 50px;">
    <p class="font-sm"><a href="<?php echo site_url('/blog');?>">{% t news.breadcrumb %}</a> > Title</p>
  </div>
  <div class="uk-container uk-width-2-3@m">
  <article>
    <p class="font-label-grey">Date</p>
    <p class="font-label">Category</p>
    <h1 class="font-black" style="margin: 0 0 10px;">Title</h1>
    <div class="dash {{ page.color}}">
      <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="6" fill="none"/>
      </svg>
    </div>
    <div class="uk-text-justify">
      {{ content }}
    </div>
    </article>
  </div>
</div>
