---
layout: default
---

<!--Hero-->
<div id="hero-page" class="uk-height-viewport uk-flex uk-inline uk-flex-middle uk-background-cover uk-light animate__animated animate__fadeIn animate__delay-2s animate__fast"
  data-src="{{page.image_hero}}" uk-parallax="bgy: -100;" uk-img>
</div>

<!--Content-->
<div class="uk-section animate__animated animate__fadeIn animate__delay-2s animate__fast">
  <div class="uk-container" style="margin-bottom: 50px;">
    {% if site.lang == "es" %}
      <p class="font-label-grey"><a class="underline" href="{{ site.baseurl }}/iniciativas">{% t initiatives.breadcrumb %}</a> > <a class="underline" href="{{ site.baseurl }}/iniciativas/mas-que-juanitas.html">{% t initiatives.juanitas %}</a> > {{page.title_es}}</p>
    {% elsif site.lang == "en" %}
      {% if {{page.title_en}} != null %}
      <p class="font-label-grey"><a class="underline" href="{{ site.baseurl }}/iniciativas">{% t initiatives.breadcrumb %}</a> > <a class="underline" href="{{ site.baseurl }}/iniciativas/mas-que-juanita.html">{% t initiatives.juanitas %}</a> > {{page.title_en}}</p>
      {% else %}
      <p class="font-label-grey"><a class="underline" href="{{ site.baseurl }}/iniciativas">{% t initiatives.breadcrumb %}</a> > <a class="underline" href="{{ site.baseurl }}/iniciativas/mas-que-juanita.html">{% t initiatives.juanitas %}</a> > {{page.title_es}}</p>
      {% endif %}
    {% endif %}
  </div>
  <div class="uk-container uk-width-2-3@m">
  <article>
    <p class="font-label-black-soft">{% t initiatives.contribution_author %} {{page.authors}}</p>
    {% if site.lang == "es" %}
      <h1 class="font-black" style="margin: 0 0 10px;">{{page.title_es}}</h1>
      <div class="dash dash-black">
        <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="30" height="6" fill="none"/>
        </svg>
      </div>
      <div class="uk-text-justify">
        {{page.content_block_es | markdownify }}
      </div>
    {% elsif site.lang == "en" %}
      {% if {{page.title_en}} != null %}
        <h1 class="font-black" style="margin: 0 0 10px;">{{page.title_en}}</h1>
        {% else %}
        <h1 class="font-black" style="margin: 0 0 10px;">{{page.title_es}}</h1>
      {% endif %}
      <div class="dash dash-black">
        <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="30" height="6" fill="none"/>
        </svg>
      </div>
      <div class="uk-text-justify">
        {% if {{page.content_block_en}} != null %}
          {{page.content_block_en | markdownify }}
          {% else %}
          {{page.content_block_es | markdownify }}
        {% endif %}
      </div>
    {% endif %}
    </article>
  </div>
</div>

<!--More contributions-->
<div class="uk-section bg-grey-soft animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h2 class="font-black">{% t initiatives.more_contributions %}</h2>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-5-6@m">
        <div class="uk-flex uk-flex-center" uk-grid>
          {% for a in site.testimonios offset: 0 limit: 3  %}
          <!-- 3 col -->
          <div class="uk-width-1-3@m">
            <!-- Image -->
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              <a href="{{a.url}}">
                <img data-src="{{a.image_thumbnail}}" class="uk-transition-scale-up uk-transition-opaque" alt="" uk-img>
              </a>
            </div>
            <!-- Content -->
            {% if site.lang == "es" %}
              <div class="dash dash-black">
                <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="6" fill="none"/>
                </svg>
              </div>
              <h3 class="link-highlighted"><span><a href="{{n.url}}">{{a.title_es}}</a></span></h3>
            {% elsif site.lang == "en" %}
              <div class="dash dash-black">
                <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="6" fill="none"/>
                </svg>
              </div>
              {% if {{a.title_en}} != null %}
                <h3 class="link-highlighted"><span><a href="{{n.url}}">{{a.title_en}}</a></span></h3>
                {% else %}
                <h3 class="link-highlighted"><span><a href="{{n.url}}">{{a.title_es}}</a></span></h3>
              {% endif %}
            {% endif %}
            <p class="font-label-grey">{{ a.date | date_to_string }}</p>
          </div><!-- End 3 col -->
          {% endfor %}
        </div><!-- End flex -->
      </div>
    </div>
    </div>
  </div>
</div>
