<!--Alliances-->
<div class="uk-section animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h2 class="font-black">{% t home.alliances.title %}</h2>
        <p class="font-lead">{% t home.alliances.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-5-6@m">
        <div class="uk-flex uk-flex-center" uk-grid>
          <div uk-slider="autoplay: true; autoplay-interval: 2000; finite: false">
            <div class="uk-position-relative">
              <div class="uk-slider-container uk-light">
                  <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-4@m uk-grid">
                    {% assign active_alliances = site.data.alliances.items | where: "active", true %}
                    {% for a in active_alliances %}
                    <li>
                      <div class="uk-panel">
                        <img data-src="{{a.logo}}" title="{{a.name}}" uk-img>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
              </div>

              <div>
                  <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
              </div>
            </div>
          </div>
        </div><!-- End flex -->
      </div>
    </div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/alianzas" class="uk-button button-line-black">{% t home.alliances.button %}</a>
      </div>
    </div>
    </div>
  </div>
</div>
