<!--Publications-->
<div class="uk-section animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-2-3@m">
        <h2 class="font-black">{% t home.publications.title %}</h2>
        <p class="font-lead">{% t home.publications.description %}</p>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-3-4@m">
        <div uk-slider>
            <div class="uk-position-relative">
                <div class="uk-slider-container">
                    <ul class="uk-slider-items uk-child-width-1-1">
                      {% assign active_publications = site.publicaciones | where: "active", true %}
                      {% for p in active_publications %}
                        <li>
                          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                              <div class="uk-card-media-left uk-cover-container">
                                  <img src="{{p.image_slider}}" alt="" uk-cover>
                                  <canvas width="600" height="400"></canvas>
                              </div>
                              <div>
                                  <div class="uk-card-body {{p.color}}">
                                    {% if site.lang == "es" %}
                                        <p class="font-label-white" style="margin: 0 0 -20px;">{% t publications.breadcrumb %} • {{p.category_es}}</p>
                                        <div class="dash dash-white">
                                          <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="30" height="6" fill="none"/>
                                          </svg>
                                        </div>
                                        <h3 class="font-white">{{p.title_es}}</h3>
                                        <p class="font-white" style="margin-bottom:30px;">{{p.brief_es}}</p>
                                    {% elsif site.lang == "en" %}
                                        {% if {{p.category_en}} != null %}
                                          <p class="font-label-white" style="margin: 0 0 -20px;">{% t publications.breadcrumb %} • {{p.category_en}}</p>
                                          {% else %}
                                          <p class="font-label-white" style="margin: 0 0 -20px;">{% t publications.breadcrumb %} • {{p.category_es}}</p>
                                        {% endif %}
                                        <div class="dash dash-white">
                                          <svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="30" height="6" fill="none"/>
                                          </svg>
                                        </div>
                                        {% if {{p.title_en}} != null %}
                                          <h3 class="font-white">{{p.title_en}}</h3>
                                          {% else %}
                                          <h3 class="font-white">{{p.title_es}}</h3>
                                        {% endif %}
                                        {% if {{p.brief_en}} != null %}
                                          <p class="font-white" style="margin-bottom:30px;">{{p.brief_en}}</p>
                                          {% else %}
                                          <p class="font-white" style="margin-bottom:30px;">{{p.brief_es}}</p>
                                        {% endif %}
                                    {% endif %}
                                      <a href="{{p.url}}" class="uk-button uk-button-small button-line-white">{% t home.publications.read %} <i class="uil uil-arrow-right"></i></a>
                                      <a href="{{p.pdf_publication}}" target="_blank" class="uk-button uk-button-small button-line-white">{% t home.publications.download %} <i class="uil uil-arrow-to-bottom"></i></a>
                                  </div>
                              </div>
                          </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
      </div>
    </div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/publicaciones" class="uk-button button-bg-black">{% t home.publications.button %}</a>
      </div>
    </div>
    </div>
  </div>
</div>
