<!--Social media-->
<div class="uk-section bg-grey-soft animate__animated animate__fadeIn">
  <div class="uk-container uk-width-1-1@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div>
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="font-black">{% t home.social_media.title %}</h2>
      </div>
    </div>
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="font-black">Instagram</h3>
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/b93943cf01625c0080a775e2ca9f2e82.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
      </div>
      <div class="uk-width-1-4@m">
        <h3 class="font-black">Twitter</h3>
        <div class="uk-visible@m">
          <a class="twitter-timeline" data-height="520" href="https://twitter.com/GIESCR_LatAm?ref_src=twsrc%5Etfw">Tweets by GIESCR_LatAm</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="uk-hidden@m">
          <a class="twitter-timeline" data-height="200" href="https://twitter.com/GIESCR_LatAm?ref_src=twsrc%5Etfw">Tweets by GIESCR_LatAm</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
